name: Publish Python Package

on:
  push:
    branches:
      - main  # سيتم النشر عند أي دفع للفرع الرئيسي

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write  # مطلوب لاستخدام GitHub OIDC
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine

      - name: Build package
        run: python setup.py sdist bdist_wheel

      - name: Upload dist folder as artifact
        uses: actions/upload-artifact@v3
        with:
          name: dist-files
          path: dist/

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.6.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
